#navbar {
	text-align: center;
}

#nav-item {
	margin: 0;
	padding: 5px 10px;
}

#nav-item a:hover {
	color: red;
}

main * {
	margin: 10px 15px;
}

p {
	font-size: 18px;
}

a {
	margin: auto;
}

table {
  	border-collapse: collapse;
}

td, th {
 	border: 1px solid #dddddd;
  	text-align: left;
  	padding: 8px;
}

tr:nth-child(even) {
 	background-color: #dddddd;
}
