html { min-height: 100%; }
#navbar { text-align: center; }
.nav-item { margin: 0; padding: 5px 10px; }
.nav-item:hover { color: red; }
#page-heading { text-align: center; text-decoration: underline; margin-bottom: 5px; }
#page-subheading { text-align: center; margin-bottom: 20px; font-weight: normal; }
main > * { margin: 10px 15px; }
table { border-collapse: collapse; }
td, th { border: 1px solid #dddddd; text-align: left; padding: 8px; }
tr:nth-child(even) { background-color: #dddddd; }
.site-badge { margin: 5px 7px; }
